<%- include('./partials/head') %>

<!-- pop up -->
<header>
  <h1>Hi, welkom!</h1>
<!-- database bio!? -->
  <p>It's nice to meet you and i can see that you are interested in coming in contact ... </p>
  <button>e-mail me :) </button>
</header>



<!-- main aka the card -->
<main>
  <!-- data base name, surname -->
  <button>MISAH SAID</button>
  <button>ux/ui designer & fornt-end</button>
  <img src="./images/PHYLLIS SAID.png">
  <!-- email data base -->
  <a href="" class="link1">phyllis.msd@gmail.com</a>
  <p>website: coming soon</p>
  <a href="" class="link2">@phyllis.sd</a>
</main>



<!-- footer aka sticker time! -->
<footer>

</footer>

<%- include('./partials/foot') %>
